.cart-container {
  position: fixed;
  top: 3.769rem;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  display: flex;
  justify-content: end;
  align-items: center;
  z-index: 1000;
  @apply laptop:justify-center desktop:top-[0rem] desktop:pt-[9.75rem]
  /* High z-index to ensure it's above all content */
}

.cart-content-container {
  @apply bg-[#FAF5FF] h-[100%] w-[92.255%] desktop:w-[78rem] laptop:w-[80%]
}

.cart-content-nav {
  @apply h-[1.71rem] overflow-y-hidden
}

.cart-content-nav {
  @apply w-[100%] flex flex-row items-center justify-between px-[1.28rem] text-[0.44rem] font-bold laptop:text-[1.5rem] laptop:px-[5.62rem] laptop:pt-[3.25rem] laptop:pb-[2.06rem] 
}

.ccni {
  @apply laptop:h-[1.5rem] laptop:w-[1.5rem]
}

.cart-line {
  background: rgba(0, 0, 0, 0.15);
  height: 0.0175rem;
  width: 100%;
  @apply mb-[0.75rem]
}

.success-cart {
  @apply flex flex-row justify-center gap-[0.125rem] text-[#0BAB12] text-[0.65rem] font-medium laptop:text-[1rem] laptop:gap-[0.5rem] laptop:mt-[2.66rem]
}


.cart-card {
  @apply pl-[1.59rem] flex flex-row gap-[2.5rem]
}

.cart-card-deets {
  @apply flex flex-col gap-[0.24rem]
}

.cart-card-texts {
  @apply flex flex-col gap-[1.38rem] desktop:gap-[10rem] laptop:gap-[3rem]
}

.cart-card-image {
  @apply w-[6.4718rem] h-[7.401rem] desktop:w-[23.12rem] desktop:h-[26.44rem] laptop:w-[18.12rem] laptop:h-[21.44rem]
}

.cart-card-deets h1 {
  @apply text-[0.83711rem] font-semibold laptop:text-[1.5rem]
}

.cart-card-deets h3 {
  @apply text-[0.675rem] font-medium laptop:text-[1.25rem]
}

.cart-card-deets h4 {
  @apply text-[0.612rem] font-medium laptop:text-[1rem]
}


.cart-card-deets h5 {
  @apply text-[0.55rem] font-medium laptop:text-[1rem]
}

.cart-card-deets p {
  @apply laptop:text-[1rem] text-[0.475rem] text-[#D50000]
}




.card-cart-quantity {
  border: 0.28px solid rgba(0, 0, 0, 0.50);
  padding: 0.10494rem 0.25113rem 0.105rem 0.25113rem;
  border-radius: 0.16106rem;

  @apply flex flex-row laptop:h-fit laptop:rounded-[0.625rem] laptop:py-[0.375rem] laptop:px-[0.937rem] laptop:gap-[1rem] w-[5rem] h-[2rem]  items-center justify-around laptop:w-[10rem] 
}

.card-cart-quantity img {
  /* width: 0.41988rem;
  height: 0.41988rem; */
  @apply laptop:w-[1.5rem] laptop:h-[1.5rem] h-[1rem] w-[1rem]
}

.card-cart-quantity p {
  @apply text-[1rem] laptop:text-[1rem] 
}


@media (max-width: 767px) {
  .llop :nth-child(2) {
    @apply hidden laptop:flex
  }
}