.checkout-Page-section {
    @apply w-[100vw] flex justify-center flex-col  items-center relative pt-[6.19rem] 
}



.pout-container{
    /* @apply mx-[3rem] */
    @apply flex items-center justify-center  bg-red-400 
}

.out-container {
    @apply flex laptop:flex-row gap-[1.38rem] flex-col bg-[white] w-[23.4375rem] items-start  laptop:w-[80%] desktop:w-[100%] laptop:justify-center bg-[transparent] 
}

.delivery-container {
    border-radius: 0.3125rem;
    border: 1px solid rgba(0, 0, 0, 0.15);

    background: #FFF;
    @apply desktop:w-[46.025rem] laptop:px-[1.5rem] laptop:pt-[1.94rem] w-[18.98rem] flex flex-col items-start laptop:w-[80%] 
}

.d-first-frame {
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    @apply desktop:w-[43.06rem] laptop:h-[8.31rem] items-center flex flex-col justify-center gap-[1rem] rounded-[0.625rem] mb-[4rem] laptop:w-[100%]
}

.express-del {
    @apply flex flex-row desktop:w-[37.25rem] laptop:w-[100%] justify-between 
}

.ffd {
    @apply flex flex-col gap-[1rem] laptop:w-[90%]
}


.dvm {
    @apply text-[0.5rem] font-semibold laptop:text-[1rem]
}

.d-second-frame {
    height: fit-content;
    border-radius: 0.625rem;
    border: 1px solid rgba(0, 0, 0, 0.20);

    background: #FFF;
    @apply desktop:w-[43.06rem] px-[0.88rem] laptop:w-[100%]
}

.delivery-address {
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.10);
    @apply w-[100%] h-[5.25rem] flex items-center justify-start laptop:mb-[3.5rem] text-[0.5rem] laptop:text-[1rem]
}

.one-input-form input, .one-input-form select {
    border-radius: 0.625rem;
    border: 1px solid rgba(0, 0, 0, 0.30);
    height: 2.5625rem;
    @apply w-[100%] bg-transparent
}


.one-input-form input, .one-input-form select:focus {
    @apply outline-none
}

.one-input-form {
    @apply flex flex-col gap-[0.5rem]
}

.one-input-form p {
    @apply text-[0.3125rem] laptop:text-[1rem]
}


.save-button {
    display: flex;
    padding: 0.75rem 5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    border: 1px solid rgba(67, 72, 52, 0.20);
    background: rgba(130, 133, 120, 0.30);
    @apply mt-[5rem] laptop:w-[25.6875rem]
}

.two-input-form {
    @apply flex flex-row justify-between
}

.order-container {
    height: 56.5rem;
    border-radius: 0.3125rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #FFF;
    @apply desktop:w-[32.4375rem] bg-[white] px-[1rem] pt-[2.06rem] laptop:w-[40rem]
}

.oc-first-container {
    @apply flex flex-row w-[100%] justify-between mb-[2.75rem]
}

.oc-first-container p {
    color: #000;
    font-family: Lato;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}


.oc-first-container h1 {
    color: #000;
    font-family: Lato;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.oc-line {
    width: 100%;
    height: 0.0625rem;
    background: rgba(0, 0, 0, 0.10);
}


.reciept-card-texts {
    @apply flex flex-col desktop:w-[14.5625rem] laptop:gap-[1rem]  laptop:w-[10rem]
}

.rc-image {
    height: 13.22231rem;
    @apply laptop:w-[11.5625rem]
}

.reciept-card-texts h1 {
    color: #000;
    font-family: Lato;
    /* font-size: 1.25rem; */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @apply desktop:text-[1.25rem] 
}

.reciept-card-texts p {
    color: #000;
    font-family: Lato;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.reciept-card {
    @apply flex flex-row justify-between mt-[2.75rem] mb-[3.09rem] 
}

.rc-calc {
    @apply flex flex-col gap-[1.5rem] mb-[2.5rem] laptop:w-[25.5rem] mt-[2.5rem]
}

.rcc-subtotal {
    @apply flex flex-row gap-[10rem]
}

.rcc-subtotal h1 {
    color: #000;
    font-family: Lato;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @apply w-[fit]
}

.rc-button {
    @apply mt-[6rem] w-[100%] justify-center items-center mb-[2.81rem] flex
}

.rc-button button {
    display: flex;
    padding: 0.75rem 5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.625rem;
    @apply bg-[#434834] flex flex-row gap-[0.62rem] text-white laptop:w-[25.6875rem]
}


.checkout-footer {
    background: #D9DAD6;


    @apply pt-[8.44rem] pb-[2.75rem] w-[100%] flex flex-row items-center justify-evenly mt-[4rem]
}

.checkout-footer p {
    color: rgba(65, 65, 65, 0.76);
    font-family: Lato;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}