.footer-container {
    background: #D9DAD6;
    @apply laptop:pl-[4.5rem] laptop:pr-[7rem] desktop:pr-[10.63rem] pt-[3.56rem] laptop:pt-[7.73rem] flex laptop:flex-row laptop:justify-between laptop:pb-[7.63rem] flex-col laptop:w-[100%] justify-center pb-[2rem] items-center
}

.footer-first-container {
    @apply flex flex-col w-[20rem] laptop:w-[100%]
}

.footer-first-container h1 {
    @apply mb-[0.5rem] text-[1.25rem] font-semibold
}

.footer-first-container p {
    @apply laptop:text-[1.125rem] text-[0.875rem] mb-[2rem] w-[22.812rem] text-[#414141C2]
}

.footer-icons {
    @apply flex flex-row gap-[1.5rem]
}

.footer-second-container {
    @apply flex flex-row laptop:gap-[4.81rem] justify-between w-[20rem] laptop:w-[100%] laptop:mt-[0rem] mt-[4.5rem]
}

.footer-second-container div {
    @apply flex flex-col gap-[1rem]
}

.footer-second-container h3 {
    @apply laptop:text-[1.5rem] font-semibold text-[#000000] text-[1.125rem]
}

.footer-second-container p {
    @apply laptop:text-[1.25rem] text-[#414141C2] text-[1rem]
}