.navbar-container {
    @apply w-[100vw] px-[1rem] py-[0.5rem] laptop:px-[4.44rem] laptop:pt-[2rem] laptop:py-[1.04rem] justify-between flex flex-row;
}

.navbar-links {
    @apply flex flex-row gap-[5rem] text-[#000] font-semibold leading-normal items-center justify-center;
}

.navbar-links {
    @apply hidden laptop:flex
}

.hambugar {
    @apply laptop:hidden
}

.navbar-link.active {
    border-bottom: 0.125rem solid black;
}

.navbar-icons :nth-child(2) {
    @apply hidden laptop:flex
}

.navbar-icons {
    @apply flex flex-row gap-[1rem] laptop:gap-[1.5rem] items-center justify-center;
}

.hero-section {
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0.25) 0%,
            rgba(0, 0, 0, 0.25) 100%),
        url(../assets/images/hero-background.png) lightgray 50%;
    @apply bg-no-repeat bg-cover bg-center w-[100vw] laptop:h-[33.125rem] desktop:pt-[10.38rem] laptop:pl-[4.5rem] h-[18rem];
}


/* styles for screens narrower than 768px */
@media (max-width: 767px) {
    .hero-section {
        @apply flex items-center justify-center
    }

    .hero-texts {
        @apply flex items-center flex-col justify-center text-center
    }
}

.hero-texts {
    @apply flex flex-col text-[#ffffff];
}

.hero-texts h1 {
    @apply desktop:mb-[1rem] text-[2.5rem] laptop:mb-[0.5rem] laptop:text-[2rem] desktop:text-[4rem] font-bold mb-[0.5rem];
}

.subheading {
    @apply laptop:w-[26.25rem] w-[17.5rem] laptop:text-[1.5rem] mt-[0.5rem] font-semibold text-[1rem];
}

.mimi-text {
    @apply laptop:w-[26.25rem] w-[17.5rem] text-[0.625rem] mb-[0.93rem] laptop:text-[0.93rem] font-medium laptop:mb-[1.5rem];
}

.shopNow {
    border-radius: 0.625rem;
    border: 1.5px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    @apply text-[black] laptop:w-[7.44rem] laptop:text-[1rem] text-[0.875rem] w-[6.875rem] h-[2.75rem] laptop:h-fit laptop:px-[1.5rem] laptop:py-[0.75rem];
}

.products-lists {
    @apply laptop:px-[4.5rem] px-[1.56rem] pt-[2.13rem] laptop:pt-[3.38rem];
}

.flashSales-container {
    @apply flex flex-col h-[5.43rem] laptop:flex-row desktop:h-[3rem] laptop:justify-between mb-[3.81rem] items-end;
}

.flash-sales-texts {
    @apply flex flex-row gap-[0.5rem] font-semibold mb-[1rem] laptop:mb-[0rem] laptop:text-[1rem] text-[0.875rem] overflow-y-hidden;
}

.flash-sales-texts span {
    @apply overflow-y-hidden;
}

.dropdown {
    display: flex;
    padding: 0.875rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.625rem;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    background: rgba(225, 230, 234, 0.08);
    @apply laptop:w-[15.5rem] w-[11.81rem] overflow-y-hidden;
}



/*-------------------------------------------------------------------------- */


.custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
}

.custom-select {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.custom-select-trigger {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.custom-select:hover .custom-select-trigger {
    background-color: #e0e0e0;
}



/* ------------------------------------------------------------------------- */
/* CustomSelect.css */
.custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 200px;
    user-select: none;
}

.custom-select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f0f0f0;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;
}



.opc {
    @apply overflow-hidden overflow-y-hidden  h-[100vh]
}

.custom-select option {
    padding: 10px;
    font-size: 16px;
}

.custom-select:hover {
    background-color: #e0e0e0;
}

.custom-select:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

option {
    @apply px-[0.5rem] py-[2rem] h-[3rem]
}


.text-select {
    border: none;
    appearance: none h
}

/* ---------------------------------------------------------------- */

.product-section {
    @apply w-[100%];
}

.product-section-container {
    @apply grid grid-cols-2 laptop:grid-cols-2 desktop:grid-cols-3 laptop:gap-y-[13rem] gap-y-[1.53rem] place-content-center place-items-center;
}

.load-more {
    @apply laptop:mt-[7rem] mt-[5rem] w-[100%] flex items-center justify-center;
}

.load-more button {
    display: inline-flex;
    padding: 0.75rem 2.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    @apply mb-[6.41rem] laptop:mb-[11.44rem];
}