.product-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  @apply bg-[white] h-[100vh] laptop:p-[2rem];
}

/* .product-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  margin-bottom: 20px;
} */

.product-info {
  text-align: start;
}

.product-info h1 {
  /* font-size: 2rem; */
  margin-bottom: 10px;
  @apply mt-[2rem] text-[1.5rem] font-bold;
}

.product-info p {
  @apply text-[0.85rem] mb-[2rem] tablet:text-[1.1rem];
}

.product-info h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.product-info button {
  padding: 10px 20px;
  /* background-color: #007bff; */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  @apply bg-[#434834] w-[70%];
}

.product-info button:hover {
  @apply bg-[#40443a];
}

.embla {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
  @apply flex-row justify-center m-auto;
}

.embla__slide {
  position: relative;
  min-width: 100%;
  user-select: none;
  padding: 10px;
  @apply flex items-center justify-center;
}

.embla__slide img {
  border: 0.28px solid rgba(31, 29, 29, 0.5);

  display: block;
  width: 80%;
  height: auto;
  @apply rounded-[0.625rem] tablet:w-[60%];
}
