@tailwind base;
@tailwind components;

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  /* overflow: hidden; */
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
div::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
div {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

:root {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  background-color: #faf5ff;

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@tailwind utilities;
