@tailwind base;
@tailwind components;

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  /* overflow: hidden; */
  overflow-x: hidden;
}

:root {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  background-color: #FAF5FF;


}

@tailwind utilities;